{% extends 'header.html' %}

{% block content %}
    <div class="modal fade" id="politic" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Политика конфиденциальности</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    <div class="container d-flex align-items-left justify-content-start w-100">
        <form method="post" class="d-flex justify-content-start align-items-left flex-column w-75 position-relative create_form">
            <h3>Личная информация</h3>
            {% load static %}
            <div class="personal_info_container d-flex">
                {% load static %}
                <img src="{% static 'img/placeholder.png' %}" alt="" class="pt-1 vacancies_photo">
                <div class="without_photo p-2">
                    <div class="d-flex align-items-start w-100">
                        <p class="m-2 w-100 text-left">
                            Фамилия:
                            <span class="text-muted res_fam">
                                {% if user.last_name %}
                                    {{ user.last_name }}
                                {% else %}
                                    Нет информации
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex align-items-start w-100">
                        <p class="m-2 w-100 text-left">
                            Имя:
                            <span class="text-muted res_name">
                                {% if user.first_name %}
                                    {{ user.first_name }}
                                {% else %}
                                    Нет информации
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex align-items-start w-100">
                        <p class="m-2 w-100 text-left">
                            Отчество:
                            <span class="text-muted res_patr">
                                {% if user.patronymic %}
                                    {{ user.patronymic }}
                                {% else %}
                                    Нет информации
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex align-items-start w-100">
                        <p class="m-2 w-100 text-left">
                            Телефон:
                            <span class="text-muted res_num">
                                {% if user.phone %}
                                    {{ user.phone }}
                                {% else %}
                                    Нет информации
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex align-items-start w-100">
                        <p class="m-2 w-100 text-left">
                            Почта:
                            <span class="text-muted res_mail">
                                {% if user.email %}
                                    {{ user.email }}
                                {% else %}
                                    Нет информации
                                {% endif %}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="d-flex create_form_input align-items-center w-100">
                    <p class="m-0 w-50">{{ field.label }}</p>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            {% for field in form.hidden_fields %}
                <div class="d-flex w-100">
                    {{ field }}
                </div>
            {% endfor %}
            <small class="text-muted politic_container">
                <p>Нажимая кнопку "Отправить" я принимаю <abbr title="Просмотреть" data-toggle="modal" data-target="#politic">Политику конфиденциальности</abbr></p>
            </small>
            <div class="container m-3 d-flex justify-content-end">
                <a class="btn m-1 save_pdf btn-outline-warning"> PDF</a>
                <button type="submit" class="btn m-1 btn-outline-success">Отправить</button>
                <a href="{% url "resumes" %}" class="m-1 btn btn-outline-primary">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}