{% extends "header.html" %}

{% block content %}
    <!-- <div class="container d-flex flex-column">
        <p>{{ vacancies.title }}</p>
        <p>{{ vacancies.firm_name }}</p>
        <p>Предлагаемая зарплата: {{ vacancies.salary }}</p>
        <p>Должность: {{ vacancies.position }}</p>
        <p>{{ vacancies.requirements }}</p>
        <p>{{ vacancies.working_conditions }}</p>
        <p>{{ vacancies.address }}</p>
        <p>{{ vacancies.email }}</p>
        <p>{{ vacancies.phone }}</p>
    </div> -->
    <div class="container d-flex flex-column align-items-start p-4 bg-light">
        <h3 class="mb-4 fl_uppercase">{{ vacancies.title }}</h3>
        <div class="main_info_container d-flex">
            {% load static %}
            <div class="photo_container  photo_container_detail">
                <img src="{% static 'img/placeholder.png' %}" alt="" class="vacancies_photo">
            </div>
            <div class="main_info_txt  pl-4">
                <p><small class="text-muted">Фирма:</small> {{ vacancies.firm_name }}</p>
                <p><small class="text-muted">Адрес:</small> {{ vacancies.address }}</p>
                <p><small class="text-muted">Должность:</small> {{ vacancies.position }}</p>
                <p><small class="text-muted">Предлагаемая зарплата:</small> {{ vacancies.salary }}</p>
            </div>
        </div>
        <p class="w-50 about_you_detail"><small class="text-muted">Требования:</small> {{ vacancies.requirements }}</p>
        <p class="w-50 about_you_detail"><small class="text-muted">Условия:</small> {{ vacancies.working_conditions }}</p>
        <!-- Кнопка-триггер модального окна -->
        <button type="button" class="get_contact_vac btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Контактная информация
        </button>
        
        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Контактная информация</h5>
                </div>
                <div class="modal-body">
                    <div class="modal_number_vac">
                        <p><strong>Номер телефона</strong></p>
                        <p class="lead">
                            Загрузка...
                        </p>
                    </div>
                    <div class="modal_email_vac">
                        <p><strong>E-mail</strong></p>
                        <p class="lead">
                            Загрузка...
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
            </div>
        </div>
        <p><small class="text-muted">Размещено: {{ vacancies.date_publication }}</small></p>
    </div>
{% endblock %}