{% extends 'header.html' %}
{% block title %}Вакансии{% endblock %}
{% block content %}
    <div class="v-100 position-relative d-flex flex-wrap bg-light find-block-vacancies find_block">
        <div class="d-flex inputs_block flex-column align-items-center container container-sm w-50">
            <h1 class='cs-header-title text-center text-white display-2 find_header'>Найти вакансию</h1>
            <div class="find_container inputs_block_inputs d-flex justify-content-center w-75 mb-4">
                {% if parameter %}
                    <input id="vacText" type="text" placeholder="Поиск по названию" class="form-control find_input mr-2 form-control-lg" value="{{ parameter }}" />
                {% else %}
                    <input id="vacText" type="text" placeholder="Поиск по названию" class="form-control find_input mr-2 form-control-lg"/>
                {% endif %}

                <input id="vacSearch" type="button" value='найти' class=" btn btn-primary find_btn form-control-lg"/>
            </div>

        </div>
        
            <div class="arrows_down">
                <div class="arrows_down_arrow up">
                    
                    <span class="fe fe-chevron-down"></span>
                </div>
                <div class="arrows_down_arrow down">
                    <span class="fe fe-chevron-down"></span>
                </div>
                
            </div>
        
    </div>
    <div class="v-100 position-relative flex-column d-flex p-4">
        <div class='cs-header-title text-center text-black display-6 pl-4'>Текущие вакансии</div>
        <div class="vacancies_container mt-4 d-flex  flex-wrap ">
            {% for item in vacancies %}
            <div class="vacancies_item p-4 m-2 shadow-sm ">
                <div class="vacancies_item_body">
                    <h4 class="fw-bold fl_uppercase">{{ item.title }}</h4>
                    <p class="w-100">{{ item.firm_name }}</p>
                    <p>Зарплата: {{ item.salary }}</p>
                    <p class="w-100">{{ item.requirements }}</p>
                    <a class="btn btn-outline-primary" href="{{ item.id }}">Посмотреть</a>
                    <p class="w-100 date_update">Обновлено: {{  item.date_publication }}</p>
                </div>
                {% load static %}
                <div class="photo_container">
                    <img src="{% static 'img/placeholder.png' %}" alt="" class="vacancies_photo">
                </div>
                
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- Пагинация -->
    {% if page_obj.has_previous or page_obj.has_next %}
        <nav aria-label="Page navigation example">
            <ul class="pagination mt-5 pt-5">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
                {% endif %}
                {% for i in page.paginator.page_range %}
                    {% if page.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href='?page={{ i }}'>{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}